.container {
    max-width: 1400px;
    margin: 0 auto;
}
.slider_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.img_inner {
    width: 500px;
    height: 400px;
}
.code_img {
    max-width: 100%;
}